In [1]:
import numpy as np
import pandas as pd

In [18]:
columns = ['user','activity','timestamp', 'x-axis', 'y-axis', 'z-axis']
df = pd.read_csv('WISDM_ar_v1.1_raw.txt', header = None, names = columns)
df['z-axis'] = df['z-axis'].str.rstrip(';')
df['timestamp'] = (df['timestamp'] - df['timestamp'][0]) / 20
df[0:10]

   user activity   timestamp    x-axis     y-axis       z-axis
0    33  Jogging         0.0 -0.694638  12.680544   0.50395286
1    33  Jogging   4997250.0  5.012288  11.264028   0.95342433
2    33  Jogging   7492050.0  4.903325  10.882658  -0.08172209
3    33  Jogging  12998950.0 -0.612916  18.496431    3.0237172
4    33  Jogging  18498200.0 -1.184970  12.108489     7.205164
5    33  Jogging  23999000.0  1.375655  -2.492524    -6.510526
6    33  Jogging  28999300.0 -0.612916  10.569390     5.706926
7    33  Jogging  34503150.0 -0.503953  13.947236    7.0553403
8    33  Jogging  39999350.0 -8.430995  11.413852     5.134871
9    33  Jogging  45498650.0  0.953424   1.375655    1.6480621