In [1]:
import numpy as np
import pandas as pd

In [14]:
columns = ['user','activity','timestamp', 'x-axis', 'y-axis', 'z-axis']
df = pd.read_csv('WISDM_ar_v1.1_raw.txt', header = None, names = columns)
df['z-axis'] = df['z-axis'].str.rstrip(';')
df['timestamp'] = (df['timestamp'] - df['timestamp'][0]) / 20
df.head()

   user activity     timestamp    x-axis     y-axis       z-axis
0    33  Jogging  4.665066e+13 -0.694638  12.680544   0.50395286
1    33  Jogging  4.665076e+13  5.012288  11.264028   0.95342433
2    33  Jogging  4.665081e+13  4.903325  10.882658  -0.08172209
3    33  Jogging  4.665092e+13 -0.612916  18.496431    3.0237172
4    33  Jogging  4.665103e+13 -1.184970  12.108489     7.205164